body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

header {
	padding: 20px 0;
}

header .row,
footer .row {
	display: flex;
	align-items: center;
}

header h1 {
	font-weight: 700;
	margin: 0;


}
header a{
	color: inherit;
}
header nav {
	display: flex;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
}

.jumbotron {
	display: flex;
	align-items: center;
	/*background-image: url('https://lh3.googleusercontent.com/7j6vWT8IEn4kneJT0IsG3GSaE2pNpVEoc5msmW4jr-sBX5flAwtYcmUFXbD3LrxUn4KDYRWCJzZPvF4ig8Sub4-SllDI6pZ7NIHX8iNHbIMPDNoH1QDBMda4f4HC5Ozrdcm_vw7L6RnulAzb4s8gxnKmQoyDEOJrK-Mx7TltfCoJcv8q0MTLTFUtmIHPhvrb_6bP4jZDVpHa0n0NUsCis-VIRiq7Lu7W9QTjY9oZoq5utQPg3wtFexqEblzobH4dRijxNOfT5YqIco4BssGiYypG3R2ThXcNAnOCF54s6Etd6GUuwZQUK4Kotw30WehMhtjRRwKCIiQMhpFFWj1apQJUJDolpagefC7RyDSwC6lSKYT0bfWKdHQZFih9tor7gXcae8WRNZ7OsHtrhXfXy9sjNkRmO3tD6BCztsCrRXgV0ZAoIwsqUgrRDtMJwTzuvprkDqT1Gps5Zb2SvIvQm6OMP9o-BS6DlrPNKsXm1rTuEWpnoqRz3EoCMavKR6-VSbYzc7qlU5wXJ4VQmX8MVy9sfe0BwE_SpFz9jHOlbTR4FlVLXmKLHzzOVGVrGZa__VZZBpuzfho0yqYFPq7BsRp_Fc3UqucKyVLHFm8=w1145-h644-no');
	*/
	background-image: url('res/fly_crop.jpg');
	background-size: cover;
	background-position: center;
	color: #ffffff;
	height: 500px;
	text-shadow: 0.25px 0.25px 0.25px #000000;
}

/*.jumbotron h2 {
	font-size: 60px;
	font-weight: 700;
	margin: 0;
	color: #fff;
}

.jumbotron h3 {
	margin: 0 0 20px;
	color: white;
}
.jumbotron a {
	color: inherit;
}
*/
section .row img {
	margin: 0 0 30px;
	width: 100%;
}

.col-md-6 {
	margin: 0 0 30px;
}

.btn.btn-primary {
	border-radius: 2px;
	border: 0px;
	color: #fbd1d5;
	text-shadow: none;
	background-color: #ffffff;
}

.btn.btn-primary:hover {
	color: #ffffff;
	background-color: #fbd1d5;
}

.btn-secondary {
	background-color: #E8DFE0;
	color: #ffffff;
	margin: 0 0 30px;
}

footer {
	font-size: 12px;
	padding: 20px 0;
}

footer .col-sm-8 {
	display: flex;
	justify-content: flex-end;
}

footer ul {
	list-style: none;
}

footer li img {
	width: 32px;
	height: 32px;
}